<!DOCTYPE html>
<html>
<head>
    <title>Surveillance Management System</title>
</head>
<body>
    <h1>Surveillance Management System</h1>
    <form action="/files/pi3" method="get">
        <input type="submit" value="get /files/pi3">
    </form>
    <hr>
    <form action="/avi/pi3" method="get">
        <input type="submit" value="get /avi/pi3">
    </form>
    <hr>
    <form action="/movies/pi3/avi" method="get">
        <input type="submit" value="get /movies/pi3/avi">
    </form>
    <hr>
    <form action="/movies/pi3/mp4" method="get">
        <input type="submit" value="get /movies/pi3/mp4">
    </form>
    <hr>
    <form action="/files4movie/pi3/23-20250924215410.mp4" method="get">
        <input type="submit" value="get /files4movie/pi3/23-20250924215410.mp4">
    </form>
    <hr>
    <h2>List all files:</h2>
    <ul>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <hr>
</body>
</html>