<!DOCTYPE html>
<html>
<head>
    <title>Surveillance Management System</title>
</head>
<body>
    <h1>Surveillance Management System</h1>
    <h2>list files:</h2>
    <form action="/files" method="get">
        <input type="submit" value="get list">
    </form>
    <hr>
    <h2>list avi:</h2>
    <form action="/avi" method="get">
        <input type="submit" value="get avis">
    </form>
    <hr>
    <h2>movies by /movies/avi:</h2>
    <form action="/movies/avi" method="get">
        <input type="submit" value="get movies">
    </form>
    <hr>
    <h2>List all files:</h2>
    <ul>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <hr>
</body>
</html>